
        body{
            background: #171717;
            overflow: hidden;
        }


        #calculator {
            background-color: rgba(255, 255, 255, .15);  
            border-radius: 12px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
            border: 1px solid rgba(0, 0, 0, 0.66);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
            max-width: 300px;
            padding: 20px; 
        }

        input[type="text"] {
            width: 80%;
            height: 39px;
            margin-bottom: 10px;
            padding: 5px;
        }

        input[type="button"] {
            width: 48px;
            height: 48px;
            margin-right: 5px;
            margin-bottom: 5px;
            font-size: 18px;
        }

        .input-class{
            grid-column: span 4;
            text-align: center;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .round{
            width: 90px;
            height: 90px;
            background: linear-gradient(100deg, rgba(35, 73, 57, 0.12) -10.54%, rgba(6, 9, 40, 0.21) 117.69%, rgba(14, 80, 76, 0.15) 143.75%, rgba(10, 12, 26, 0.00) 158.09%);
            border-radius: 50%;
            position: absolute;
            left: 38%;
            top: 10%;
        }

        .round2{
            width: 50px;
            height: 50px;
            background: linear-gradient(100deg, rgba(35, 73, 57, 0.15) -10.54%, rgba(6, 9, 40, 0.31) 117.69%, rgba(14, 80, 76, 0.15) 143.75%, rgba(10, 12, 26, 0.00) 158.09%);
            border-radius: 50%;
            position: absolute;
            left: 68%;
            top: 80%;
        }

          .round3{
            width: 40px;
            height: 40px;
            background: linear-gradient(100deg, rgba(35, 73, 57, 0.15) -10.54%, rgba(6, 9, 40, 0.31) 117.69%, rgba(14, 80, 76, 0.15) 143.75%, rgba(10, 12, 26, 0.00) 158.09%);
            border-radius: 50%;
            position: absolute;
            left: 86%;
            top: 30%;
        }

         .round4{
            width: 80px;
            height: 80px;
            background: linear-gradient(100deg, rgba(35, 73, 57, 0.15) -10.54%, rgba(6, 9, 40, 0.31) 117.69%, rgba(14, 80, 76, 0.15) 143.75%, rgba(10, 12, 26, 0.00) 158.09%);
            border-radius: 50%;
            position: absolute;
            left: 38%;
            top: 80%;
        }